@charset "utf-8";
h1 {
	text-align: center;
}
a { 
    text-decoration: none;
   }
   a:hover {
	text-decoration: underline;
	color: #000000;
   }
body {
	background-color: #EEEEEE;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 14px;
  	line-height: 20px;
  	color: #333333;

	
}
body div p small a {
	color: #000000;
}
